<!-- Dashboard Component -->
<div class="container-fluid">

  <!-- Header -->
  <div class="row header">

    <!-- 'Dashboard' Heading -->
    <div class="dashboard-head col-md-3">
      <h5>
        <!-- SideBar button for screen resolution less than 576px only -->
        <span class="sidebar-btn d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbarLabel">
          <fa-icon [icon]="this.iconService.faBars"></fa-icon>
        </span>

        <span>Dashboard</span>
      </h5>
    </div>
  </div>

  <!-- 'Dashboard' Body -->
  <div class="dashboard-body h-100 text-center p-5">
    <h2>Dashboard will be shown here!</h2>
  </div>
</div>
